#add-player {
  color: #66c2ff;

}

.footer {
  width: 100%;
}

.reset-button {
  background-color: white;
  border-color: #D3D3D3;
  float: right;
}

.header {
  height: 200px;
  background: url(https://i.ytimg.com/vi/mO7pA7UlJKw/maxresdefault.jpg) no-repeat center center;
  background-size: cover;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: grey;
}

.remove-button {
  color: grey;
}

.jumbotron {
  background-color: #ffffff;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
